@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@font-face { 
  font-family: 'BMHANNA_11yrs'; 
  src: url(./BMHANNA_11yrs.ttf);
}
.App {
  text-align: center;
  font-family: 'BMHANNA_11yrs';
}
.Navbar1{
  background-color : #EE4E34 ;
  color : white;
}
.main_background{
  background-image: url(./image/main.jpg);  
  background-size : 100%;
  height:2000px;
  color : white;
  font: 100px;
}
.back{
  width: auto;
  height: 500px;
  margin:0px auto;
}
.title1{
  padding-top : 30px;
  text-align: center;
  padding-bottom: 30px;
  font-size : 40px;
}
.card3{
  width: auto;
  height: 200px;
  margin: 0 auto;
  align-items: center;
}
.google{
  widows: 100%;
  height:100%
}
.Main_Carousel{
  background-size: 100%;
  margin:auto;
}
.saying{
  width: auto;
  height: 200px;
  background-color: #FFBB00;
  justify-content: center;
  align-items: center;
}
.sayingback{
  width: auto;
  background-color:#EDA900;
  height : 100px;
}
.color_white{
  color : white;
  text-align: center;
}
.register{
  width: 700;
  align-items: center;
}


a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black;}
