@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@font-face { 
  font-family: 'BMHANNA_11yrs'; 
  src: url(./BMHANNA_11yrs.ttf);
}
.App {
  text-align: center;
  font-family: 'BMHANNA_11yrs';
  background-color: white;
  color : black;
  /* background: -webkit-linear-gradient(to right, #fabc40, #d7daeb);
    background: linear-gradient(to right, #fabc40, #d7daeb) */
}
.Navbar1{
  color : white;
  background-color: #000354;

}
.main_background{
    /* background-image: url(./image/money.jpg);   */
  /* object-fit: cover; */
    width: auto;
    height: auto;
    max-width: 2000px;
    max-height: 700px;  
    background-position: bottom center;
    background-size: 100%;
    color : #000354;
    margin-bottom: 0;
}
.second_background{
  /* background-image: url(./image/orange.jpg);   */
/* object-fit: cover; */
  width: auto;
  height: auto;
  max-width: 2000px;
  max-height: 700px;  
  background-position: bottom center;
  background-size: 100%;
  color : #000354;
  margin-bottom: 0;
}
.back{
  width: auto;
  height: 500px;
  margin:0px auto;
}



.title1{
  padding-top : 30px;
  text-align: center;
  padding-bottom: 30px;
  font-size : 40px;
}
.card3{
  width: auto;
  height: 200px;
  margin: 0 auto;
  align-items: center;
}
.google{
  widows: 100%;
  height:100%
}
.Main_Carousel{
  background-size: 100%;
  margin:auto;
  width : 100%;

}
.saying{
  width: auto;
  height: 200px;

  justify-content: center;
  align-items: center;
}
.sayingback{ 
  width: auto;
  margin : auto;
  background-color:#f37949;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height : 120px;
  font-size: 20px;

  /* background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
  background: -webkit-linear-gradient(to right, #ffa600, #000354);
    background: linear-gradient(to right, #ffa600, #000354)
   */
}
.color_white{
  color : white;
  text-align: center;
}
.register{
  width: 700;
  align-items: center;
}

a:link {
  color : white;
}
a:visited {
  color :  white;
}
a:hover {
  color : white;
}
a:active {
  color :white
}
